<div class="container-salas">

    <div class="salas-list">

        <div class="agenda-content">

            <div class="prox-agendamento-title">
                <h2>Data:</h2>
            </div>
            <div class="prox-agendamento-init">
                <span>{{agenda.date_init}} até</span>
            </div>

            <div class="prox-agendamento-end">
                <span>{{agenda.date_end}}</span>
            </div>


        </div>




        <div class="data-content">

            <div class="title-sala">
                <h2>{{agenda.sala.name}}</h2>
            </div>

            <div class="turma">
                <span>{{agenda.turma}}</span>
            </div>


        </div>

    </div>

</div>